.image_container{
    display: flex;
    position: relative;
    width: 244px;
    height: 202px;
    border-radius: 20px;
    overflow: hidden;
    /* margin: 30px; */
}

.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    border-radius: 17px;
}

.backdrop{
    display: flex;
    position: absolute;
    top: 150px;
    left: 0;
    background-image: url("/trainingskills/backdropImg.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 60px;
    align-items: center;
    z-index: 2;
    /* opacity: 1; */
     padding:0 17px;
justify-content: center;
box-sizing: border-box;
}

.text{
color: #fff;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 22px;
/* z-index: 3; */
/* opacity: 0.8 */
}


@media screen and (max-width: 1000px) {
    .image_container{
        width: 154px;
        height: 128px;
        border-radius: 11px;
    }
    .backdrop{
        top: 95px;
        height: 38px;
        padding: 0 11px;
    }
    .text{
        font-size: 10px;
        width: 131.279px;
        line-height: 14px;
    }
}