.member_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 280px;
    width: 100%;
    padding: 24px 10px;
    border-radius: 8px;
    background: var(--bg-white);
    box-shadow: 0px 12px 27px 0px rgba(0, 0, 0, 0.10), 0px 48px 48px 0px rgba(0, 0, 0, 0.09);
}
.member_card h3 {
    height: 35px;
    text-align: center;
    color: #26267E;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    text-transform: uppercase;
}
.image_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 66px;
}
.image {
    position: relative;
    max-width: 230px;
    height: 172px;
    object-fit: contain;
}
.image img {
    width: auto;
    max-height: 172px;
    height: 100%;
}
.sn {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 79px;
    width: 35%;
    height: 222px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    opacity: .8;
    color: var(--white-900);
    font-size: 32px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.48px;
    mix-blend-mode: multiply;
}
.sn.blue {
    background: #3e84f8;
}
.sn.yellow {
    background: #FFCF4C;
}
.sn.red {
    background: #ed4239;
}
.lead_name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--greys-005);
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 1.6px;
}
.center {
    align-items: center;
}
.lead_name h4 {
    font-weight: 700;
}
.lead_name h5 {
    font-weight: 500;
}


@media screen and (max-width: 500px) {
    .member_card {
        max-width: 155px;
        width: 100%;
        padding: 13.2px 10px;
    }
    .member_card h3 {
        height: 19.25px;
        font-size: 8.8px;
    }
    .image_container {
        gap: 36.3px;
    }
    .image {
        max-width: 126.5px;
        height: 94.6px;
    }
    .image img {
        max-height: 94.6px;
        max-width: 100%;
    }
    .sn {
        max-width: 42px;
        width: 35%;
        height: 122px;
        font-size: 17.6px;
        letter-spacing: -0.264px;
    }
    .lead_name {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: var(--greys-005);
        font-size: 8.8px;
        line-height: 100%;
        letter-spacing: 0.88px;
    }
}
