.team {
    width: 100%;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 128px min(8.33%, 120px);
    color: var(--white-900);
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2.5rem;
}
.header h2 {
    font-family: var(--font-varela-round);
    font-size: 2rem;
    line-height: 2.1875rem;
}
.header p {
    width: 100%;
    font-size: 1.25rem;
    line-height: 1.875rem;
}

.members_ctn {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.ctaBtn {
    max-width: 222px;
    width: 100%;
    padding: 18px 32px;
    background: #F2443F;
    color: var(--white-900);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.24px;
}

@media screen and (max-width: 1024px) {
  .team {
    gap: 32px;
  }
  .members_ctn {
    gap: 20px;
  }
}

@media screen and (max-width: 768px) {
    .ctaBtn {
        margin-top: 59px;
    }
}