.page_head {
  width: 100%;
  background: #eee url(/banner.png) no-repeat 41% 0;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 182px;
  padding: 0 min(8.33%, 120px);
  padding-bottom: 241px;
}

.team_community_container{
  width: 100%;
  height: 100%;
  background: radial-gradient(160.67% 82.93% at 58.09% 38.42%, #2699E3 0%, #2681C0 0.01%, #272E4B 98.66%);
  color: white;
  /* display: none; */
}

@media screen and (max-width: 1226px) {
  .page_head {
    padding: 21px max(24px, 7%) 241px;
  }
}
@media screen and (max-width: 1175px) {
  .page_head {
    padding: 21px max(24px, 6%) 241px;
  }
}

@media screen and (max-width: 980px) {
  .page_head {
    gap: 20px;
    padding: 21px max(24px, 6%) 241px;
  }
}
@media screen and (max-width: 500px) {
  .page_head {
    gap: 69.64px;
    padding-bottom: 129px;
  }
}
