.about {
    display: flex;
    width: 1137px;
    margin: 100px;
    gap: 56px;
    justify-content: space-between;
}
.about_2{
    display: flex;
    width: 666px;
    height: 305px;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 100px;
    gap: 40px;
    flex-shrink: 0;
}

.nav_buttons{
    display: flex;
    align-items: flex-start;
    gap: 109px;
}

.nav_button{
    font-family: Varela Round;
    background: none;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.button_dart{
    background: none;
    color: #2699E3;
    text-decoration: 2px solid underline #2699E3;
}
.button_swift{
    background: none;
    color: #FAB12D;
    text-decoration: 2px solid underline #FAB12D;
}
.button_ruby{
    background: none;
    color: #F2443F;
    text-decoration: 2px solid underline #F2443F;
}

.about_title {
    color: #212121;
    font-family: Varela Round;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px; 
}

.vector1{
  top: 0;
  left: 1000px
}


@media screen and (max-width: 500px) {
    .about{
        gap: 32px;
        width: 489px;
        margin: 20px
    }
    .nav_buttons{
        /* width:100px; */
        gap: 40px;
    }

    .about_title{
        font-size: 20px;
        line-height: 22px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .nav_button{
        font-size: 16px;
        line-height: 22.4px;
    }
    .about2{
        margin-top:100px;
    gap: 20px;
    align-items: column;
    width: 279px;
    }
}
/* @media screen and (max-width: 1226px) {
    .about {
        padding: 128px max(24px, 7%);
    }
}
@media screen and (max-width: 1175px) {
    .about {
        padding: 128px max(59px, 6.5%);
    }
}
@media screen and (max-width: 1100px) {
    .about_cards {
        flex-wrap: wrap;
        justify-content: center;
        gap: 32px 0;
    }
}
@media screen and (max-width: 980px) {
    .about {
        gap: 20px;
        padding: 128px max(59px, 6.5%);
    }
}
@media screen and (max-width: 500px) {
    .about {
        gap: 20px;
        padding: 48px max(59px, 6.5%) 50px;
        gap: 48px;
    }
    .about_title {
        font-size: 24px;
    }
    .about_cards {
        gap: 18px;
    }
    .about_card {
        padding: 24px;
        gap: 24px;
    }
    .about_card img {
        max-width: 48px;
        width: 100%;
        height: auto;
    }
    .about_texts {
        gap: 12px;
    }
    .about_sub_title {
        font-size: 18px;
        line-height: 131.25%;
    }
    .about_paragraph {
        font-size: 12px;
        align-self: stretch;
    }
    .read_more_btn {
        width: 117px;
        gap: 6px;
        padding: 13.5px 16px;
        font-size: 14px;
        letter-spacing: -0.21px;
    }
    .read_more_btn img {
        width: 12px;
        height: auto;
    }
} */
