.back_to_top {
    width: 60px;
    height: 60px;
    padding: 10px;
    border-radius: 50%;
    background: rgba(237, 237, 237, .6);
    position: fixed;
    right: 50px;
    bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 900px) {
    .back_to_top {
        right: 5%;
        bottom: 100px;
    }
}